body {
    font-family: sans-serif;
    width: 322px;
}
#header h1{
    color: #555;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    display: block;
}
#header span {
    color: #555;
    font-size: 16px;
    vertical-align: middle;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    display: block;
}
#links-wrap{
    width: 100%;
    -webkit-box-sizing: border-box;
    font-size: 12px;
    word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    clear: left;
}

#links {
    list-style: none;
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 5px;
    float: left;
    display: block;
}

#links li:hover {
    background-color: #bbceec;
}

#links li {
    width: 100%;
    -webkit-box-sizing: border-box;
    display: block;
    float: left;
}

.removeBtn:before{
        content:'x';
}
.removeBtn{
    height: 15px;
    width: 15px;
    float: right;
    background-color: #BA0713;
    color: #FFF;
    margin-right: 10px;
    font-weight: bolder;
    padding: 0;
    border-radius: 10px;
    margin-top: 6px;
    text-align: center;
    content: '&#215;';
    cursor: pointer;
}

#container {
    float: left;
    width: 100%;
}
#addBtn{
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    margin: 12px 6px;
    cursor: pointer;
}
#addBtn:hover, #clearBtn:hover {
    color: #259DFF;
    text-decoration: underline;
}
#clearBtn{
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    margin: 12px 6px;
    cursor: pointer;
}



a, a:visited {
    color: #7B838A;
}
a:hover {
    color: #259DFF;
}

a > div {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

a > div > img {
    margin-right: 4px;
}

.menuseparator {
    border-top: 1px solid #ebebeb;
    margin-bottom: 5px;
    margin-top: 5px;
}

#message{
    float: right;
    margin: 0px 0;
    font-size: 9px;
    font-weight: bold;
    padding-right: 18px;
    padding-top: 3px;
}